<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include templates/header.ejs %>

        <h1><%= header %></h1>
        <p>Welcome to <%= header %></p>
    </body>
</html>
